@import '~bootstrap/scss/bootstrap';

@import "variables";
@import "contact";
@import "profile";
@import "template";


.alert {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button--additional {
    margin-left: 10px;
}
