.contact__table {
    margin-top: 40px;
}

.contact__title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact__create-container {
    max-width: 600px;
    margin: 0 auto;
}

.contact__button-back {
    margin-left: 10px;
}
