.contact__table {
    margin-top: 40px;
}

.contact__title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact__create-container {
    max-width: 600px;
    margin: 0 auto;
}

.contact__table-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.contact__img-container {
    text-align: center;
}

.contact__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact__log-content {
    margin-top: 10px;
}

.contact__log-item {
    margin-bottom: 10px;
}
